<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Gzip compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="application/wasm" enabled="true" />
      </dynamicTypes>
    </httpCompression>

    <!-- Static file caching -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <remove fileExtension=".dart" />
      <mimeMap fileExtension=".dart" mimeType="application/dart" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>

    <!-- URL Rewrite for SPA routing + API proxy -->
    <rewrite>
      <rules>
        <!-- Proxy API calls to hvoffice.bvhvgl.com to avoid CORS -->
        <rule name="ProxyAPI" stopProcessing="true">
          <match url="^hvapi/(.*)" />
          <action type="Rewrite" url="https://hvoffice.bvhvgl.com/api/{R:1}" appendQueryString="true" />
        </rule>

        <rule name="Redirect to index.html">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- CORS Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
